
:root{

/*------------------------
        COLORS
--------------------------*/
    --primary-color: #0c7cec;
    --secondary-color: #303030;


/*------------------------
        CONTAINER SIZE
--------------------------*/

    --container-md:75rem;

}




